header {
  margin-top: 10rem;
  margin-bottom: 1.5rem;
  width: 350px;
}

.header-container {
  list-style-type: none;
  color: white;
  background-color: #a69df5;
  font-size: 1.3rem;
  position: relative;
  padding: 0.5rem;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-container :nth-child(1) {
  position: absolute;
  left: 0.3rem;
  cursor: pointer;
}

.header-container :nth-child(2) {
  text-align: center;
  font-weight: bold;
}
